
    <!--
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Dill Flies</a>
          <div class="nav-collapse">
            <ul class="nav">
            </ul>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="container">
      <div class="row">
        <div class="span13">
        <p/>
        </div>
      </div>
      
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
        <div class="span8 offset4">
          <div class="hero-unit">
              <h1>Dill Flies</h1>
              <h2>Light Sculptures v1</h2>
              <h3>Crepe Place, Santa Cruz - 6/15<br/></h3>
          </div>
        </div>
      </div>
      
      <!-- Example row of columns -->

      <div class="row">
        <div class="span5 offset3">
        <div id="df-error" class="alert alert-error hide">
          <p>Blah</p>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="span3 offset1">
          <h2>Pink</h2>
          <p>
            <div class="btn-group">
              <button id="light1-on" class="btn"><i class="icon-cog"></i>&nbsp;&nbsp;&nbsp;On</button>
              <button id="light1-off" class="btn btn-danger">Off&nbsp;&nbsp;&nbsp;<i class="icon-minus-sign"></i></button>
            </div>
          </p>
        </div>
        <div class="span3">
          <h2>Red</h2>
          <p>
            <div class="btn-group">
              <button id="light2-on" class="btn"><i class="icon-cog"></i>&nbsp;&nbsp;&nbsp;On</button>
              <button id="light2-off" class="btn btn-danger">Off&nbsp;&nbsp;&nbsp;<i class="icon-minus-sign"></i></button>
            </div>
          </p>
       </div>
        <div class="span3">
          <h2>Cream</h2>
          <p>
            <div class="btn-group">
              <button id="light3-on" class="btn"><i class="icon-cog"></i>&nbsp;&nbsp;&nbsp;On</button>
              <button id="light3-off" class="btn btn-danger">Off&nbsp;&nbsp;&nbsp;<i class="icon-minus-sign"></i></button>
            </div>
          </p>
        </div>
        <div class="span3">
          <h2>Black</h2>
          <p>
            <div class="btn-group">
              <button id="light4-on" class="btn"><i class="icon-cog"></i>&nbsp;&nbsp;&nbsp;On</button>
              <button id="light4-off" class="btn btn-danger">Off&nbsp;&nbsp;&nbsp;<i class="icon-minus-sign"></i></button>
            </div>
          </p>
        </div>
      </div>

      <div class="row">
          <div class="span13">
          <p>&nbsp;</p>
          </div>
      </div>

      <div class="row">
        <div class="span2 offset1">
          <h2><span style="color: teal">Ran</span><span style="color: red">dom</span></h2>
        </div> 
        <div class="span1">
           <button id="randomLightGlass" class="btn btn-danger randomLight"><i class="icon-glass"></i></button>
        </div>
        <div class="span1">
           <button id="randomLightMusic" class="btn btn-primary randomLight"><i class="icon-music"></i></button>
        </div>
        <div class="span1">
           <button id="randomLightFire" class="btn btn-inverse randomLight"><i class="icon-fire icon-white"></i></button>
        </div>

          <div class="span2 offset3">
            <button class="btn btn-warning rereadLights"><i class="icon-eye-open"></i></button>
          </div>
        </div>
      </div>
